{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<img src='{{ asset ("assets/images/nav.png")}}'>
			{{ render(controller('App\\Controller\\BlogPostController::index')) }}
		</div>
	</div>
	{% include 'footer.html.twig' %}
{% endblock %}

