{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	{% include 'header.html.twig' %}
	<div class="container">
		<div class="row">
		
				<img class="nav"src='{{ asset ("assets/images/nav.png")}}'>
				{{ render(controller('App\\Controller\\BlogPostController::index')) }}
			
		</div>
	</div>
	{% include 'footer.html.twig' %}
{% endblock %}

