.admincard{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    
    img{
        width: 10rem;
        margin: auto;
        
    }
    .card{
        word-break: break-all;
        padding: 1rem;
        margin: 1rem;
    }

    .admingreen{
    width:8rem;
       
      margin: auto;
    }

}
.adminnew{
    width:8rem;
     margin-left: 2rem;
    position: relative;
    bottom:1rem; left:1rem;
}
.deletebutton{
  
    width:8rem;
    margin-top: 1rem;
}

.adminbutton{
    margin:1.5rem 0 0 5rem;
 
}

.cardadminshow{
   
        width: 10rem;
        height: 5rem;
        border-radius: 5%;
}

.btnform{
    width:8rem;
    margin:1rem -1px 1rem 0;
}
.btnindex{
    margin-bottom: 1rem;
    width:5rem;
}

.btnnew{
background-color: green;
margin: 1rem;

}

