.article{
display: flex;
justify-content: center;
flex-flow: column;

}

.pictureshow{
height: 17rem;
overflow: hidden;
    img{
        width: 70rem  !important;
        height: 20rem;
        border-radius: 15%;
        overflow:hidden;
        object-fit:cover;
    }
}
.titleshow{
    text-align: center;
    margin: 1rem;
}
.publish{
    margin-top:1rem;
}

