#footer{
    background-color: #DC5E44;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;

.logo{
    display: flex;
    flex-flow: column;
  
    p {
        color: white;
    }
}
svg{
    width: 5rem;
    height: auto;
}




}




