.navette{
    margin: 5rem;
display: flex;
justify-content: center;

    img{
        width: auto;
        height: 20rem;
    }
}

.articles{
    margin: 0 0 2rem 5rem;
    h1{
        color:#DC5E44;
    }
}