@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap");
.logoheader {
  background-color: #E4E6EC;
  width: 100%;
  height: 5rem;
}
.logoheader img {
  margin-left: 5%;
}

@media (min-width: 200px) and (max-width: 1000px) {
  h1 {
    color: #DC5E44;
    font-family: "Roboto Slab", serif;
    text-align: center;
  }

  .cards {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 1rem;
  }
  .cards .card {
    border: none !important;
    margin-bottom: 3%;
    border: 1px black solid;
    border-radius: 10%;
    width: 15rem;
    height: 13rem;
  }
  .cards .card .cardhomeimg {
    height: 9rem;
    overflow: hidden;
  }
  .cards .card .cardhomeimg .card-img {
    width: 100%;
    height: 10rem;
    border-radius: 10%;
  }
  .cards .card .card-body {
    text-align: left !important;
    vertical-align: middle;
    overflow: hidden;
  }

  .linkblog {
    color: #DC5E44;
    text-decoration: none !important;
    text-align: center;
    align-items: center;
    font-family: "Roboto Slab", serif;
    font-size: xx-large;
  }

  .contentblog {
    font-family: "Roboto Slab", serif;
    text-align: center;
  }

  a {
    color: #DC5E44;
    text-decoration: none !important;
    text-align: center;
  }

  .colu {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }
}
@media (min-width: 1000px) and (max-width: 2000px) {
  h1 {
    color: #DC5E44;
    font-family: "Roboto Slab", serif;
  }

  .cards {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 1rem;
  }
  .cards .card {
    border: none !important;
    margin-bottom: 3%;
    border: 1px black solid;
    border-radius: 10%;
    width: 15rem;
    height: 13rem;
  }
  .cards .card .cardhomeimg {
    height: 9rem;
    overflow: hidden;
  }
  .cards .card .cardhomeimg .card-img {
    width: 100%;
    height: 10rem;
    border-radius: 10%;
  }
  .cards .card .card-body {
    text-align: left !important;
    vertical-align: middle;
    overflow: hidden;
  }

  .linkblog {
    color: #DC5E44;
    text-decoration: none !important;
    text-align: center;
    align-items: center;
    font-family: "Roboto Slab", serif;
    font-size: xx-large;
  }

  .contentblog {
    font-family: "Roboto Slab", serif;
  }

  a {
    color: #DC5E44;
    text-decoration: none !important;
  }
}
body {
  background-color: #E4E6EC;
}

@media (min-width: 200px) and (max-width: 1000px) {
  .boutonrond {
    margin-left: 7rem !important;
  }

  #rond {
    background-color: #DC5E44 !important;
    width: 5rem;
    height: 3rem;
    position: relative;
    left: 20px !important;
    top: -48px !important;
    border-radius: 100%;
    z-index: -3 !important;
  }

  #rond2 {
    background-color: #DC5E44 !important;
    width: 5rem;
    height: 3rem;
    position: relative;
    left: 70px !important;
    top: -97px !important;
    border-radius: 100%;
    z-index: -3 !important;
  }

  .back {
    margin-left: 5%;
    width: 5rem !important;
    margin-top: 0.2%;
    background-color: #DC5E44 !important;
    font-family: "Roboto Slab", serif;
    font-size: x-large;
    border-radius: 30%;
    color: white !important;
    z-index: 100;
  }

  .pictureshow {
    height: 17rem;
    overflow: hidden;
  }
  .pictureshow img {
    width: 44rem !important;
    height: 20rem;
    overflow: hidden;
    object-fit: cover;
  }
}
@media (min-width: 1000px) and (max-width: 1500px) {
  #rond {
    background-color: #DC5E44 !important;
    width: 5.5rem;
    height: 3rem;
    position: relative;
    left: 40px !important;
    top: -48px !important;
    border-radius: 100%;
    z-index: -3 !important;
  }

  #rond2 {
    background-color: #DC5E44 !important;
    width: 5.5rem;
    height: 3rem;
    position: relative;
    left: 90px !important;
    top: -96px !important;
    border-radius: 100%;
    z-index: -3 !important;
  }

  .back {
    margin-left: 5%;
    margin-top: 0.2%;
    width: 5.5rem;
    height: 3rem;
    background-color: #DC5E44 !important;
    font-family: "Roboto Slab", serif;
    font-size: x-large;
    border-radius: 30%;
    color: white !important;
    z-index: 100;
  }

  .pictureshow {
    height: 17rem;
    overflow: hidden;
  }
  .pictureshow img {
    width: 70rem !important;
    height: 20rem;
    object-fit: cover;
  }

  .boutonrond {
    margin-left: 2rem !important;
  }
}
@media (min-width: 1500px) and (max-width: 2000px) {
  #rond {
    background-color: #DC5E44 !important;
    width: 5.5rem;
    height: 3rem;
    position: relative;
    left: 60px !important;
    top: -48px !important;
    border-radius: 100%;
    z-index: -3 !important;
  }

  #rond2 {
    background-color: #DC5E44 !important;
    width: 5.5rem;
    height: 3rem;
    position: relative;
    left: 100px !important;
    top: -96px !important;
    border-radius: 100%;
    z-index: -3 !important;
  }

  .back {
    margin-left: 5%;
    margin-top: 0.2%;
    width: 5.5rem;
    height: 3rem;
    background-color: #DC5E44 !important;
    font-family: "Roboto Slab", serif;
    font-size: x-large;
    border-radius: 30%;
    color: white !important;
    z-index: 100;
  }

  .pictureshow {
    height: 17rem;
    overflow: hidden;
  }
  .pictureshow img {
    width: 88rem !important;
    height: 20rem;
    object-fit: cover;
  }

  .boutonrond {
    margin-left: 2rem !important;
  }
}
.article {
  display: flex;
  justify-content: center;
  flex-flow: column;
  background-color: white;
  margin: -3rem 0rem 0rem 0rem;
  border-radius: 1%;
  overflow: hidden;
}

.titleshow {
  text-align: center;
  margin: 1rem;
}

.publish {
  margin: 1rem 0 1rem 1rem;
}

.content {
  margin: 1%;
}

.admincard {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}
.admincard img {
  width: 10rem;
  margin: auto;
}
.admincard .card {
  word-break: break-all;
  padding: 1rem;
  margin: 1rem;
}
.admincard .admingreen {
  width: 8rem;
  margin: auto;
}

.adminnew {
  width: 8rem;
  margin-left: 2rem;
  position: relative;
  bottom: 1rem;
  left: 1rem;
}

.deletebutton {
  width: 8rem;
  margin-top: 1rem;
}

.adminbutton {
  margin: 1.5rem 0 0 5rem;
}

.cardadminshow {
  width: 10rem;
  height: 5rem;
  border-radius: 5%;
}

.btnform {
  width: 8rem;
  margin: 1rem -1px 1rem 0;
}

.btnindex {
  margin-bottom: 1rem;
  width: 5rem;
}

.btnnew {
  background-color: green;
  margin: 1rem;
}

#footer {
  background-color: #DC5E44;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin-top: 1rem;
}
#footer .logo {
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: relative !important;
  left: -70px !important;
  top: 0;
}
#footer p {
  color: white;
  font-size: x-large;
}
#footer svg {
  width: 6rem;
  height: auto;
}

/*# sourceMappingURL=main.css.map */
