	<footer id="footer">
			<div class='logo'>
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="170" height="170" viewbox="0 0 170 170">
					<defs>
						<clipPath id="clip-path">
							<rect id="Rectangle_11" data-name="Rectangle 11" width="170" height="170" transform="translate(35 19)" fill="#fff"/>
						</clipPath>
					</defs>
					<g id="Groupe_de_masques_2" data-name="Groupe de masques 2" transform="translate(-35 -19)" clip-path="url(#clip-path)">
						<g id="galaxy-spiral-shape" transform="translate(35 30.053)">
							<path id="Tracé_3" data-name="Tracé 3" d="M125.354-55.821c-12.737,1.128-28.161,7.2-43.419,17.082-5.9,3.881-6.667,4.544-6.667,6.136a2.73,2.73,0,0,0,2.123,2.819c.829.2,1.327-.033,6.932-2.952a36.742,36.742,0,0,1,16.153-4.412c6.2-.3,10.15.829,13.069,3.748,2.952,2.919,3.781,7.563,2.72,15.026-2.886,19.8-13.5,38.377-30.383,53.2-12.107,10.614-22.854,15.789-32.8,15.789-8.558-.033-13.5-3.781-15.125-11.51a23.605,23.605,0,0,1-.5-4.013c0-1.426-.166-1.924-.829-2.554-1.26-1.294-2.654-1.128-4.213.531-3.018,3.184-5.042,9.486-5.539,17.381L26.642,54.1,25.58,51.946C18.88,38.081,22.3,16.222,35-8.389A45.536,45.536,0,0,0,37.455-13.6a3.057,3.057,0,0,0-2.985-2.786c-1.294,0-6.5,3.914-9.984,7.529C18.847-2.949,14.7,3.32,9.427,13.967,2.694,27.6.571,34.565.073,44.682-.491,56.589,3.025,68.431,9.56,76.557A38.106,38.106,0,0,0,32.446,90.588c14.727,3.052,32.44-1.128,51.976-12.273A185.616,185.616,0,0,0,103.3,65.446a136.734,136.734,0,0,0,21.593-21.958c11.576-14.827,20.465-34.363,23.683-52.109,1.028-5.771.929-5.572,1.857-3.35,5.838,13.832,2.886,34.4-8.027,55.99-2.289,4.478-2.289,5.705,0,6.6,1.393.531,2.753-.3,5.9-3.582,14.23-14.827,23.285-41.263,21.2-61.927-1.327-12.87-5.274-22.124-12.9-30.085-6.4-6.667-13.2-9.951-22.588-10.88A32.857,32.857,0,0,0,125.354-55.821Z" transform="translate(-0.014 56.124)" fill="#fff"/>
							<path id="Tracé_4" data-name="Tracé 4" d="M59.29-45.523A48.159,48.159,0,0,0,43.932-37.53,76.206,76.206,0,0,0,32.389-25.29c-2.62,3.615-5.506,9.453-6.269,12.638-.73,2.985-.73,7.795-.033,9.785,1.426,3.914,4.511,6.2,8.956,6.7l1,.1-1.36.929C30.532,7.713,25.49,7.216,23.732,3.733A14.862,14.862,0,0,1,22.5-4.095c.2-2.222.166-2.421-.63-3.217a2.62,2.62,0,0,0-3.781-.133c-.829.9-2.554,5.871-3.085,8.889a30.42,30.42,0,0,0,.166,10.448c1.26,4.677,4.047,8.359,7.728,10.183,2.056,1.028,2.421,1.095,5.539,1.061a13.816,13.816,0,0,0,5.771-.9C44.1,18.659,52.556,10.3,58.593-1.906c3.184-6.4,4.013-9.287,4.013-13.732,0-3.317-.066-3.814-.9-5.34a10.792,10.792,0,0,0-5.606-4.909,10.135,10.135,0,0,1-2.057-.862c-.166-.133,1.294-1.028,3.251-1.99,8.558-4.179,11.775-1.592,11.775,9.52,0,3.018.066,3.35.763,4.013a2.84,2.84,0,0,0,3.45.232,13.224,13.224,0,0,0,2.023-3.217C80.352-28.541,78-41.543,70.468-45.225,67.781-46.519,63.1-46.651,59.29-45.523Z" transform="translate(26.744 74.12)" fill="#fff"/>
						</g>
					</g>
				</svg>

				<p>SpaceBlog</p>
			</div>

		</footer>